<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StartPagina</title>
    <!--gebruikmaken van demo.css-->
    <link href="../static/css/demo.css" type="text/css" rel="stylesheet"/>
    <!--maken lokaal file-sheet-->
    <!--<style type="text/css">
        h1 {color: red; background-color: yellow}
        p {color: black; border: solid red 2px; width: 50%}
    </style>-->
</head>
<body>
<div class="background">
    <h1>Testbank</h1>
    <br>
    <h1>StartPagina </h1>
    <p>
        Dit project is gemaakt om te oefenen met de REST applicatie.
    </p>
    <p>
        Ook wordt gespeeld met CSS.
        <br>
    </p>
    <br>
    <form action="login">
        <input class="button" type="submit" value="Login"/>
    </form>
    <br>
    <form action="register">
        <input class="button" type="submit" value="Registreer klant"/>
    </form>
</div>
</body>
</html>